p {
    background-color: #000;
    position: fixed;
    font-size: 14px;
    color: #ff9900;
    right: 0;
    bottom: 0;
    z-index: 500;
    margin: 0;
    padding: 0 5px;
}

a {
    color: #fbff00;
    text-decoration: none;
}