<app-backdrop (clickEmitter)="close()"></app-backdrop>
<div class="wrapper">
    <div class="modal" (click)="$event.stopPropagation()" [class]="{darkMode: darkMode}">
        <form [formGroup]="passwordForm" (submit)="deleteAccount()">
            <h3 class="headline">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon> Warning
            </h3>
            <p>Are you sure you want to delete your account? Type your password to continue</p>

            <input 
            type="password" 
            name="password" 
            id="password" 
            formControlName="password"
            placeholder="Something secure...">
            <p *ngIf="error" class="errorMessage"><fa-icon [icon]="faExclamationTriangle"></fa-icon> {{error}}</p>

            <div class="buttons">
                <button class="danger" type="submit" [disabled]="passwordForm.invalid">
                    Delete
                </button>
                <button (click)="close()" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>