div, h1, h2, p {
	transition: color 0.4s ease, background 0.4s ease;
}

.wrapper {
	z-index: 120;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	pointer-events: none;
}

.headline {
	margin: 0;
	padding: 5px 0 5px 5px;
	display: block;
	box-sizing: border-box;
	background: #ff9900;
}

.modal {
	border: 2px solid #ff9900;
	width: 300px;
	display: inline-table;
	margin-top: calc(50vh - 170px);
	background-color: #fff;
	pointer-events: all;
}

.modal.darkMode {
	background-color: rgb(115, 115, 115);
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.modal p {
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.darkMode p {
	color: rgb(231, 231, 231);
}

p.errorMessage {
	font-weight: 570;
	font-size: 14px;
	color: #f00;
}

.darkMode p.errorMessage {
	color: rgb(148, 0, 0);
}

input {
	background-color: #ccc;
	width: 95%;
	margin: auto;
	display: block;
}

.darkMode input {
	color: rgb(218, 218, 218);
	background-color: rgb(79, 79, 79);
}

.modal button {
	width: 120px;
	padding: 10px 0;
	font-size: 20px;
}

button.danger {
	background-color: red;
}

.darkMode button.danger {
	background-color: rgb(117, 0, 0);
}

button.danger:disabled {
	background-color: rgb(150, 92, 92);
	color: #ddd;
}

.darkMode button.danger:disabled {
	color: #aaa;
}