<br>
<div class="h1Wrapper">
    <h1>Sign up</h1>
</div>
<div class="authWrapper" *ngIf="!loading">
    <form [formGroup]="signupForm" (submit)="signup()">
        <div class="form-control">
            <label for="email">Email</label>
            <input 
            type="email" 
            name="email" 
            id="email"
            formControlName="email"
            placeholder="test@test.com">
            <app-error [errorMessage]="signupForm.controls.email.errors.email || 
            signupForm.controls.email.errors.required ? 'Not a valid email address' :
            'This email has already been used'"
            *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched" 
            [error]="true">
            </app-error>

        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input 
            type="password" 
            name="password" 
            id="password"
            formControlName="password"
            placeholder="6-25 characters">
            <app-error 
            [errorMessage]="signupForm.controls.password.errors.minlength || signupForm.controls.password.errors.maxlength ||
            signupForm.controls.password.errors.required ?
            'Password must be of length 6-25 characters' : 
            'The password must contain a number, a lower- and a uppercase characters'"
            *ngIf="signupForm.controls.password.invalid &&
            signupForm.controls.password.touched" 
            [error]="true">
            </app-error>
        </div>
        <div class="form-control">
            <label for="repeatPassword">Repeat password</label>
            <input 
            type="password" 
            name="repeatPassword"
            formControlName="repeatPassword"
            id="repeatPassword" 
            placeholder="Passwords must match">
            <app-error [errorMessage]="'The passwords do not match'"
            *ngIf="signupForm.controls.repeatPassword.invalid &&
            signupForm.controls.repeatPassword.touched" 
            [error]="true">
            </app-error>
        </div>
        <div class="form-control">
            <label for="username">Username</label>
            <input 
            type="text" 
            name="username"
            formControlName="username"
            id="username" 
            placeholder="Progamer123">
            <app-error [errorMessage]=" signupForm.controls.username.errors.minlength ||
            signupForm.controls.username.errors.maxlength ||
            signupForm.controls.username.errors.required ||
            signupForm.controls.username.errors.pattern
            ? (!signupForm.controls.username.errors.minlength &&
            !signupForm.controls.username.errors.maxlength &&
            !signupForm.controls.username.errors.required &&
            signupForm.controls.username.errors.pattern ?
            'Username contains invalid characters' : 'Username with length 3-20 required') :
            'Username has already been taken'"
            *ngIf="signupForm.controls.username.invalid && signupForm.controls.username.touched" 
            [error]="true">
            </app-error>
        </div>

        <a routerLink="/auth" class="loginLink">Already have an account? Sign in here</a>
    
        <button type="submit" [disabled]="!signupForm.valid">Sign up</button>
    </form>
</div>
