<p 
*ngIf="errorMessage.length > 0" 
[class]="{success: !error,
darkMode: darkMode,
lightMode: !darkMode && darkMode !== null}" 
[@simpleFadeAnimation]="'in'">
    <fa-icon [icon]="error ? faExclamationTriangle : faCheckCircle"></fa-icon>
    &nbsp; &nbsp;{{errorMessage}}
</p>
