p {
    padding: 10px;
    background-color: #333;
    color: #f00;
    font-weight: bold;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    transition: color 0.4s ease, background 0.4s ease;
}

p.success {
    transition: none;
    color: rgb(0, 213, 43);
}

p.lightMode {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

p.darkMode {
    background-color: rgb(154, 154, 154);
    color: rgb(123, 7, 7);
}