<br>
<div class="h1Wrapper">
    <h1>Reset password</h1>
</div>
<div class="authWrapper" *ngIf="!loading">
    <form [formGroup]="resetForm" (submit)="resetPassword()">
        <div class="form-control">
            <label for="password">New Password</label>
            <input 
            type="password" 
            name="password" 
            id="password"
            formControlName="password"
            placeholder="6-25 characters">
            <app-error 
            [errorMessage]="resetForm.controls.password.errors.minlength || resetForm.controls.password.errors.maxlength ||
            resetForm.controls.password.errors.required ?
            'Password must be of length 6-25 characters' : 
            'The password must contain a number, a lower- and a uppercase characters'"
            *ngIf="!resetForm.controls.password.valid && resetForm.controls.password.touched"
            [error]="true">
            </app-error>
        </div>
        <div class="form-control">
            <label for="repeatPassword">Repeat Password</label>
            <input 
            type="password" 
            name="repeatPassword"
            formControlName="repeatPassword"
            id="repeatPassword" 
            placeholder="Passwords must match">
            <app-error [errorMessage]="'The passwords do not match'"
            *ngIf="resetForm.controls.repeatPassword.invalid &&
            resetForm.controls.repeatPassword.touched" 
            [error]="true">
            </app-error>
        </div>
    
        <button type="submit" [disabled]="!resetForm.valid">Reset password</button>
    </form>
</div>
