.box {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(213, 213, 213);
    display: inline-block;
}

.checkmark {
    width: 7px;
    pointer-events: none;
    background-color: #ff9900;
    height: 30px;
    margin-left: 13px;
    transform-origin: center center;
    transform: rotate(45deg);
}
.checkmark:after {
    content: "";
    width: 100%;
    height: 40%;
    background-color: #ff9900;
    transform: rotate(90deg) translate(21px, 5px);
    display: block;
}

.box.disabled {
    background-color: #ccc;
}

.box.disabled .checkmark:after {
    background-color: rgb(91, 111, 94) !important;
}