ul, li, header {
    transition: background 0.4s ease, color 0.4s ease;
}

header {
    height: 70px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    overflow: visible;
    z-index: 110;
    top: 0;
}

header.darkMode {
    background-color: rgb(120, 120, 120);
}

.logo {
    height: 50%;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

ul {
    width: 50%;
    margin-top: 0;
}

li, .hamburgerMenu {
    list-style: none;
    padding: 20px;
    font-weight: 200;
    cursor: pointer;
    font-size: 25px;
    color: #ff9900;
    display: inline-block;
    top: 0;
}

.hamburgerMenu {
    display: none;
    margin-top: 0px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.hamburgerMenu.active {
    transform: scale(1.1);
}

a.active li, li.active {
    font-weight: bold;
}

.verticalMenu {
    position: fixed;
    background-color: rgb(248, 248, 248);
    margin-top: 20px;
    padding: 0;
    width: 220px;
}

header.darkMode .verticalMenu {
    background-color: rgb(105, 105, 105);
}

.verticalMenu li {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    font-weight: 450;
    padding: 10px;
    width: 100%;
}

.verticalMenu li:hover {
    background-color: #c2c2c2 !important;
    color: #333333;
}

.verticalMenu a.active li {
    background-color: #ff9900 !important;
    color: #fff;
}

#toggleHeaderListing {
    color: #ff9900;
    cursor: default;
}

#toggleHeaderListing:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

::ng-deep header.darkMode .toggleButton {
    background-color: #5e5e5e;
}

@media all and (max-width: 900px) {
    ul {
        display: none;
    }

    .hamburgerMenu {
        display: inline-block;
    }
}