<app-menu
[enabled]="hamburgerMenu"
[settings]="settings"
(clickBackground)="closeMenu()"
></app-menu>
<header (window:resize)="sizeClose()" [class]="{darkMode: user && user.darkMode}">
    <a routerLink="/" *ngIf="notAuth || login"><img src="../../../assets/logo.png" class="logo" aria-label="App logo"></a>
    <h1 class="hamburgerMenu" (click)="toggleMenu()" [class]="{active: hamburgerMenu}">
        <fa-icon [icon]="faBars"></fa-icon>
    </h1>
    <ul>
        <div *ngIf="login">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><li>Game</li></a>
            <a routerLink="/scoreboard" routerLinkActive="active"><li>Top 1000</li></a>
            <li [class]="{active: subMenu || settings}" (click)="toggleSubMenu()">
                Account <fa-icon [icon]="subMenu ? faChevronUp : faChevronDown"></fa-icon>
                <ul class="verticalMenu" *ngIf="subMenu">
                    <a routerLink="/settings" routerLinkActive="active" (click)="$event.stopPropagation()">
                        <li>User Settings</li>
                    </a>
                    <li (click)="logout()">Logout</li>
                    <li (click)="$event.stopPropagation();" id="toggleHeaderListing">Dark Mode
                        <div style="float: right;">
                            <app-toggle [enabled]="user && user.darkMode" (toggleEvent)="toggleDarkMode($event)"></app-toggle>
                        </div>
                    </li>
                </ul>
            </li>
        </div>
        <div *ngIf="!login">
            <a routerLink="/auth" routerLinkActive="active"><li>Authenticate</li></a>
            <a routerLink="/scoreboard" routerLinkActive="active"><li>Top 1000</li></a>
        </div>
    </ul>
</header>
