<div class="authBG" [style]="{height: (height - 70).toString() + 'px'}">
    <router-outlet>
    </router-outlet>
    <div class="loader-wrapper" *ngIf="loading">
        <app-loader></app-loader>
    </div>
    <div [ngStyle]="{display: 'block', margin: '35px auto 0 auto', width: '300px'}">
        <app-error [errorMessage]="errorMessage.length > 0 ? errorMessage : infoMessage" [error]="errorMessage.length > 0">
        </app-error>
    </div>
</div>
