.authBG {
    width: 100%;
    background-color: black;
    background-image: url('./../../../assets/sudokubg.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow: auto;
}

::ng-deep .authBG button {
    display: block;
    position: relative;
    margin: 30px auto;
}

::ng-deep .authWrapper {
    display: block;
    margin: auto;
    position: relative;
    width: 300px;
    margin-top: 25px; /* Should be removed later */
}

::ng-deep .authBG .form-control {
    margin-top: 25px;
}

::ng-deep .authBG h1 {
    color: #fff;
    font-size: 35px;
    margin-top: 50px;
}

::ng-deep .loginLink {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 24px;
    font-weight: 550;
    text-align: center;
    display: block;
}

::ng-deep .h1Wrapper {
    width: 300px;
    display: block;
    margin: auto;
}

::ng-deep .authBG .h1Wrapper h1 {
    font-size: 40px;
    margin-top: 20px;
    color: #ffd000;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
