<img src="../../../../assets/logo_secondary.png" class="greaterLogo"/>
<p class="top-line">It's a numbers' game. Login to start playing.</p>
<div class="authWrapper" *ngIf="!loading">
    <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div *ngIf="!next">
            <label for="identifier">Email/Username</label>
            <input 
            type="text" 
            name="identifier" 
            id="identifier"
            formControlName="identifier"
            placeholder="test@gmail.com"
            >
            <button type="button" (click)="toPassword()" [disabled]="!loginForm.controls.identifier.valid">
                Next
            </button>
        </div>
        <div *ngIf="next">
            <label for="password">Password</label>
            <input 
            type="password" 
            name="password" 
            id="password"
            placeholder="Something secure"
            formControlName="password"
            >
            <p (click)="onForgetPassword()" class="loginLink">Forgot password?</p>
            <button type="button" (click)="next = false">Previous</button>
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
    </form>
    <a routerLink="signup" class="loginLink">Don't have an account? Sign up here</a>
</div>