<h2 [class]="{darkMode: darkMode}" [@heightSlide] *ngIf="error">
    <fa-icon [icon]="faExclamationTriangle" class="left-triangle"></fa-icon>
        <span class="errorSpan">{{error}}</span>
    <fa-icon [icon]="faExclamationTriangle" class="right-triangle"></fa-icon>
</h2>
