h2 {
    margin: 0;
    width: 100%;
    background-color: #f00;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    position: fixed;
    z-index: 10;
    top: 70px;
    transition: color 0.4s ease, background 0.4s ease;
    overflow: hidden;
}

h2.darkMode {
    background-color: rgb(140, 38, 38);
    color: rgb(235, 235, 235);
}

.left-triangle {
    float: left;
    margin-left: 5px;
}

.right-triangle {
    float: right;
    margin-right: 5px;
}

.errorSpan {
    width: 95%;
}