
.toggleSlider {
	display: inline-block !important;
	width: 50px !important;
	height: 20px;
	background-color: rgb(162, 162, 162);
	top: 6px;
	float: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.4s ease 0s;
}

.toggleSlider.enabled {
    background-color: #ff9900;;
}

.toggleButton {
    width: 18px !important;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 1.2px;
    position: relative;
    margin-left: 0px !important;
    left: 0.8px;
    transition: left 0.4s ease 0s;
}

.toggleButton.enabled {
	left: 31px;
}