h1, h2, h3, div {
    transition: color 0.4s ease, background 0.4s ease;
}

.surroundingWrapper {
    overflow-y: auto;
    width: 100%;
    margin-bottom: 30px;

}
.bg.init {
    height: 100%;
}

.centeredItems {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.centeredItems.noFlex {
    display: block;
}

.main {
    min-height: 400px;
}

.init {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: auto;
    width: 40rem;
    max-width: 80%;
    height: 70%;
}

.slider, .init button {
    display: block;
    margin: auto auto 30px auto;
}

.slider {
    width: 100%;
}

.setup {
    color: #ff9900;
    text-align: center;
    margin-top: 4px;
}

.gridSize {
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
}

.tableHolder {
    display: flex;
    margin: 100px auto 20px auto;
}

form {
    margin: auto;
}

table {
    border: 2px solid #ff9900;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
    top: 70px;
    display: inline-table;
}

td input {
    margin: 0;
    padding: 0;
    display: inline-table;
    width: 30px;
    height: 30px;
    text-align: center;
    background: transparent;
    transition: color 0.4s ease;
    border-radius: 0;
    text-transform: uppercase;
}

td input:disabled {
    color: #000;
}

.darkMode td input {
    color: rgb(247, 247, 247);
}

.success {
    width: 500px;
    margin: 50px auto;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.darkMode .success {
    background-color: #424242;
}

.innerHolderSuccess {
    width: 95%;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.darkMode .innerHolderSuccess {
    background-color: rgb(90, 90, 90);
}

.innerHolderSuccess h2 {
    color: rgb(91, 159, 97);
}

.darkMode .innerHolderSuccess h2 {
    color: rgb(158, 216, 158);
}

.innerHolderSuccess h3 {
    color: rgb(99, 99, 99);
    text-align: center;
}

.darkMode .innerHolderSuccess h3 {
    color: rgb(201, 201, 201);
}

.infoMessageHolder, .successButtonHolder {
    margin: auto;
    width: 300px;
}

.infoMessageHolder {
    display: flex;
    justify-content: center;
}

.infoMessageHolder .info {
    font-weight: 570;
	font-size: 14px;
	color: rgb(10, 110, 42);
}

.darkMode .infoMessageHolder .info {
    color: rgb(158, 216, 158);
}

.successButtonHolder {
    display: flex;
    justify-content: space-evenly;
}

.successButtonHolder button {
    width: 120px !important;
    margin-bottom: 10px;
}

.successCheck {
    font-size: 100px;
    text-align: center;
}

.largeGreenText {
    color: rgb(39, 135, 39);
    margin: 20px auto;
}

.darkMode .largeGreenText {
    color: rgb(104, 197, 104);
}

.numberHolder {
    float: right;
}

.won {
    text-align: center;
    font-weight: 600;
}

td {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border: 1px solid #000;
    display: inline-block;
    overflow: hidden;
    background-color: #fff;
    transition: background 0.4s ease;
}

.darkMode td {
    border: 1px solid rgb(47, 47, 47);
    background-color: rgb(101, 101, 101);
}

.rowBorder td {
    border-bottom: 3px solid #ff9900;
}

.rowBorder td input:disabled {
    transform: translateY(-1.5px);
}

.noBorderLeft {
    border-left: none;
}

.noBorder td {
    border-top: none;
}

.cellBorder {
    border-right: 3px solid #ff9900 !important;
}

h1, h2, p {
    color: rgb(50, 50, 50);
}

p {
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 550;
}

.darkMode h1, .darkMode h2, .darkMode p {
    color: rgb(214, 214, 214);
}

.controlBarContainer {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 5;
}

.controlBar {
    width: 500px;
    margin: auto;
    display: block;
    padding: 5px 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}

.innerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.darkMode .controlBar {
    background-color: rgb(84, 84, 84);
}

.controlBar h2 {
    display: inline;
}

::ng-deep .darkMode .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label,
::ng-deep .darkMode .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb {
	background-color: rgb(214, 214, 214);
}

::ng-deep .bg.b.darkMode .mat-slider-ticks {
    background-image: none;
    background-color: rgb(126, 126, 126);
    z-index: 1;
    opacity: 1;
}
input.ng-invalid.ng-touched, 
.rowColumnCellInvalid,  
.forceTouched.ng-invalid
{
    background-color: rgb(255, 159, 159);
}

.darkMode input.ng-invalid.ng-touched, 
.darkMode .rowColumnCellInvalid,
.darkMode .forceTouched.ng-invalid {
    background-color: rgb(167, 14, 14) !important;
}

td input.ng-invalid.ng-touched.noRed {
    background-color: transparent !important;
}

table.noTransition, table.noTransition td, table.noTransition td input {
    transition: none;
}

@media all and (max-width: 900px) {

    .controlBar {
        width: 100%;
        border-radius: 0;
        padding: 10px;
    }

    .controlBar button {
        width: 130px;
        font-size: 22px;
    }

    .controlBar h2 {
        font-size: 22px;
    }

    .init button {
        width: 200px;
    }

    .success {
        width: 90%;
    }

    .init.success {
        width: 100%;
    }
}