<app-error-bar [error]="error" [darkMode]="darkMode"></app-error-bar>
<div class="surroundingWrapper" [style]="{height: (height - 70).toString() + 'px'}">
    <div class="gameLoaderWrapper centeredItems" *ngIf="loading">
        <app-loader [color]="darkMode ? 'white' : 'black'"></app-loader>
    </div>
    <div class="bg" *ngIf="!loading" [class]="{darkMode: darkMode, init: !game && !success}">
        <div class="centeredItems" *ngIf="!game" [class]="{noFlex: success}">
            <div class="success" *ngIf="success" [@expand]>
                <h1 class="successCheck largeGreenText"><fa-icon [icon]="faCheckCircle"></fa-icon></h1>
                <h1 class="won largeGreenText">You Won!</h1>
                <div class="innerHolderSuccess">
                    <h2>Time: <span class="numberHolder">{{counter | time}}s</span></h2>
                    <h2>Size: <span class="numberHolder">{{base}}x{{base}}</span></h2>
                    <h2>Your score: <span class="numberHolder">{{score | bignumber}}</span></h2>
                    <br>
                    <h3>Submit to top list?</h3>
                    <div class="successButtonHolder">
                        <button (click)="submitResultToServer()" [disabled]="info">Submit</button>
                        <button (click)="stopGame()" [disabled]="info">Ignore</button>
                    </div>
                    <div class="infoMessageHolder">
                        <p class="info" *ngIf="info"><fa-icon [icon]="faCheckCircle"></fa-icon>
                            &nbsp; Your score position in top list: {{info}}. Redirecting...
                        </p>
                    </div>
                </div>
            </div>
            <div class="init" *ngIf="!success">
                <h1 class="setup">Game Setup</h1>
                <div>
                    <h2>Grid Size</h2>
                    <mat-slider min="3" max="6" step="1" [value]="base" thumbLabel aria-label="size-slider"
                        class="slider" (change)="base = $event.value"></mat-slider>
                    <h1 class="gridSize">{{base}}x{{base}}</h1>
                </div>
                <button (click)="startGame()">Start</button>
            </div>
        </div>
        <div class="main" *ngIf="game">
            <div class="controlBarContainer">
                <div class="controlBar">
                    <div class="innerBar">
                        <h2>Time: &nbsp;{{counter | time}}</h2>
                        <button (click)="stopGame()">Give up</button>
                    </div>
                    <p>Characters: &nbsp;{{chars.join("").substr(0, (base*base)+1)}}</p>
                </div>
            </div>
            <div class="tableHolder">
                <form 
                [formGroup]="gameForm" 
                (submit)="$event.preventDefault()" 
                (input)="changed($event)">
                    <table cellspacing="0" cellpadding="0" [class]="{noTransition: base > 4}">
                        <tr *ngFor="let r of this.game.board; let i = index"
                            [class]="{rowBorder: (i+1) % base === 0 && (i+1) !== base*base, noBorder: i % base === 0 && i > 0}">
                            <td *ngFor="let c of r; let j = index"
                                [class]="{
                                    cellBorder: (j+1) % base === 0 && (j+1) !== base*base, 
                                    noBorderLeft: j % base === 0 && j > 0
                                }">
                                <input 
                                type="text"
                                [id]="'field_' + i + '-' + j"
                                [class]="{
                                    forceTouched: game.board[i][j] !== game.original[i][j],
                                    noRed: gameForm.controls['field_' + i + '-' + j].errors &&
                                    gameForm.controls['field_' + i + '-' + j].errors.required
                                }"
                                [formControlName]="'field_' + i + '-' + j"
                                oninput="this.value = this.value.toUpperCase()"
                                maxlength="1">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>