<app-delete-modal 
*ngIf="modal" 
(closeModal)="closeModal()" 
[darkMode]="user && user.darkMode"
[error]="deleteError">
</app-delete-modal>
<div class="settingsLoader" *ngIf="loading">
    <app-loader [color]="user && user.darkMode ? 'white' : 'black'"></app-loader>
</div>
<div class="mainWrapper settingsWrapper" [style]="{height: (height - 70).toString() + 'px'}">
    <div class="innerSettings" *ngIf="!loading">
        <h1>User Settings</h1>
        <form [formGroup]="settingsForm" (change)="checkIfChanged()" (submit)="saveSettings()">
            <div class="settingsBox" [class]="{darkMode: user && user.darkMode}">
                <h1 class="info" *ngIf="info"><fa-icon [icon]="faCheckCircle"></fa-icon> {{info}}</h1>
                <div *ngIf="!info">
                    <div class="settingsInnerBox first">
                        <div class="form-control">
                            <div class="inner-control">
                                <label for="currentPassword">Current Password *</label>
                                <input type="password" placeholder="Required" id="currentPassword" name="currentPassword"
                                formControlName="currentPassword">
                                <app-settings-error 
                                *ngIf="settingsForm.controls.currentPassword.invalid &&
                                settingsForm.controls.currentPassword.touched"
                                [error]="'Current password is required'">
                                </app-settings-error>
                            </div>
                            <div class="inner-control">
                                <label for="username">Username *</label>
                                <input 
                                type="text" 
                                name="username" 
                                id="username" 
                                formControlName="username"
                                placeholder="Required">
                                <app-settings-error 
                                *ngIf="settingsForm.controls.username.invalid &&
                                settingsForm.controls.username.touched"
                                [error]="settingsForm.controls.username.errors.required ||
                                settingsForm.controls.username.errors.minlength ||
                                settingsForm.controls.username.errors.maxlength ||
                                settingsForm.controls.username.errors.pattern ? 
                                (!settingsForm.controls.username.errors.required &&
                                !settingsForm.controls.username.errors.minlength &&
                                !settingsForm.controls.username.errors.maxlength &&
                                settingsForm.controls.username.errors.pattern ?
                                'Username contains invalid characters': 
                                'Username with length 3-20 required') : 'Username already taken'">
                                </app-settings-error>
                            </div>
                        </div>
                        <div class="form-control extended">
                            <div class="inner-control">
                                <label for="password">New Password</label>
                                <input type="password" placeholder="6-25 characters" id="password" name="password"
                                    formControlName="password">
                                <app-settings-error 
                                *ngIf="settingsForm.controls.password.invalid &&
                                settingsForm.controls.password.touched"
                                [error]="settingsForm.controls.password.errors.minlength ||
                                settingsForm.controls.password.errors.maxlength ?
                                'Password is only allowed to be 6-25 characters long' :
                                'Must contain a number, an uppercase character and a lowercase character'">
                                </app-settings-error>
                            </div>
                            <div class="inner-control">
                                <label for="repeatPassword">Repeat New Password</label>
                                <input type="password" placeholder="Passwords must match" id="repeatPassword"
                                    name="repeatPassword" formControlName="repeatPassword">
                                <app-settings-error 
                                *ngIf="settingsForm.controls.repeatPassword.invalid &&
                                settingsForm.controls.repeatPassword.touched"
                                [error]="'The passwords do not match'">
                                </app-settings-error>
                            </div>
                        </div>
                    </div>
                    <div class="settingsInnerBox">
                        <div class="form-control">
                            <label for="size">Sudoku Size: {{settingsForm.controls.size.value}}x{{settingsForm.controls.size.value}}</label>
                            <input type="number" name="size" id="size" style="display: none;">
                            <mat-slider 
                            min="3" 
                            max="6" 
                            step="1"
                            [value]="settingsForm.controls.size.value" 
                            thumbLabel aria-label="size-slider" 
                            class="slider"
                            (change)="changeSlider($event.value)"></mat-slider>
                        </div>
                        <div class="form-control">
                            <label for="darkMode">Dark Mode</label>
                            <input type="checkbox" name="darkMode" id="darkMode" style="display: none;">
                            <div style="margin-top: 20px;">
                                <app-checkbox [enabled]="settingsForm.controls.darkMode.value"
                                    (toggle)="toggleCheck($event)">
                                </app-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="settingsInnerBox centered centered-items reducedMargin">
                        <app-error 
                        [error]="error" 
                        [errorMessage]="error"
                        [darkMode]="user && user.darkMode"></app-error>
                    </div>
                    <div class="settingsInnerBox centered">
                        <a routerLink="/">
                            <button type="button">Cancel</button>
                        </a>
                        <button type="submit" [disabled]="settingsForm.invalid || !changed">Save</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <p class="deleteText deleteButton" (click)="modal = true" [class]="{darkMode: user && user.darkMode}" *ngIf="!info">
            Delete Account
        </p>
    </div>
</div>