div, input, a, p {
    transition: background 0.4s ease, color 0.4s ease;
}

.settingsBox {
    background-color: rgb(238, 238, 238);
    position: relative;
    border-radius: 10px;
    top: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.settingsBox.darkMode {
    background-color: rgb(113, 113, 113);
}

.form-control {
    width: 260px;
    height: 100px;
    position: relative;
    margin-top: 0;
}

.extended {
    height: 250px;
}

input {
    margin-bottom: 10px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 0;
}

.darkMode input {
    background-color: rgb(84, 84, 84);
    color: #fff;
}

::ng-deep .darkMode .box {
    background-color: rgb(84, 84, 84) !important;
}

::ng-deep input.ng-invalid.ng-touched {
    background-color: rgb(255, 159, 159);
}

::ng-deep .darkMode input.ng-invalid.ng-touched {
    background-color: rgb(167, 14, 14) !important;
}

.settingsInnerBox {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.first {
    margin-top: 20px;
}

.centered {
    width: 500px;
    min-width: auto;
    margin: 30px auto;
}

.centered-items {
    justify-content: center;
}

.reducedMargin {
    margin: 2px auto;
}

label {
    color: rgb(117, 117, 117);
    display: block;
    transition: color 0.4s ease;
}

.darkMode label {
    color: rgb(220, 220, 220);
}

.inner-control {
    height: 125px;
}

.deleteText {
    font-size: 15px;
    font-weight: 580;
    color: rgb(140, 38, 38);
    margin-bottom: 95px;
}

.deleteButton {
    text-align: center;
    cursor: pointer;
}

.deleteText.darkMode {
    color: rgb(255, 0, 0);
}

.slider {
    margin-top: 20px;
}

.innerSettings {
    width: 800px;
    margin: auto;
}

::ng-deep .darkMode .settingsError {
    color: rgb(167, 14, 14) !important;
}

.settingsLoader {
    width: 100%;
    height: calc(100vh - 140px);
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 27px;
    color: rgb(41, 106, 41);
    text-align: center;
    padding: 120px 0 160px 0;
    margin-top: 0;
    box-sizing: border-box;
}

.darkMode .info {
    color: rgb(163, 255, 163);
}

@media all and (max-width: 900px) {
    .innerSettings {
        width: 95%;
        height: auto;
    }
    .settingsInnerBox {
        width: 95%;
        display: block;
        height: auto;
    }

    .settingsInnerBox label {
        font-size: 20px;
    }

    .settingsInnerBox input {
        margin-top: 13px;
    }

    .form-control {
        width: 100%;
        display: block;
        height: auto;
    }

    .inner-control {
        height: auto;
        margin-bottom: 32px;
    }

    a {
        text-decoration: none;
    }

    button {
        margin: 15px auto;
        display: block;
    }
}