main {
    top: 70px;
    display: inline-block;
    position: relative;
    margin: 0;
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    transition: background 0.4s ease;
}

main.darkMode {
    background-color: rgb(50, 50, 50);
}

.loader-holder {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep label {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

::ng-deep input {
    display: block;
    width: 100%;
    font-size: 22px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

::ng-deep .slider {
    width: 100%;
}

::ng-deep .mat-accent .mat-slider-track-fill, ::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent .mat-slider-thumb-label {
	background-color: #ff9900;
}

::ng-deep .darkMode .mat-accent .mat-slider-track-fill, ::ng-deep .darkMode .mat-accent .mat-slider-thumb,
::ng-deep .darkMode .mat-accent .mat-slider-thumb-label {
    background-color: #ffd740 !important;
    z-index: 4;
}