<div *ngIf="!first">
    <app-header></app-header>
    <main (click)="closeSubMenu()" [class]="{darkMode: user && user.darkMode}">
        <router-outlet>
        </router-outlet>
    </main>
</div>
<div class="loader-holder" *ngIf="first">
    <app-loader></app-loader>
</div>
<app-madeby></app-madeby>