p, div, li {
    transition: background 0.4s ease, color 0.4s ease;
}

ul {
    list-style: none;
    display: inline;
}

li {
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    padding: 10px 12px;
}

.scoreHeaderListing {
    color: rgb(41, 41, 41);
    background-color: rgb(241, 241, 241);
    margin-bottom: 7px;
}

.darkMode .scoreHeaderListing {
    color: rgb(221, 221, 221);
    background-color: rgb(83, 83, 83);
}

.errorText {
    font-size: 25px;
    text-align: center;
    color: #f00;
    font-weight: 570;
}

.scoreListing {
    background-color: rgb(255, 255, 255);
    color: rgb(35, 35, 35);
    margin-bottom: 10px;
}

.darkMode .scoreListing {
    background-color: rgb(113, 113, 113);
    color: rgb(208, 208, 208);
}

span {
    display: inline-block;
}

.numberCol {
    width: 47px;
}

.firstCol {
    margin-left: 10px;
    width: 220px;
}

.secondCol {
    float: right;
}

.lastCol1 {
    width: 100px;
}

.lastCol2 {
    width: 90px;
}

button {
    margin: 30px auto;
    position: relative;
    display: block;
}

.scoreLoaderWrapper {
    display: flex;
    justify-content: center;
}

.bottomText {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.darkMode .bottomText {
    color: #fff;
}

@media all and (max-width: 700px) {

    li {
        font-size: 16px;
    }

    .numberCol {
        width: 40px;
    }

    .scoreInner {
        width: 95%;
    }

    .firstCol {
        margin-left: 10px;
        width: 170px;
    }

    .lastCol1 {
        width: 45px;
    }

    .lastCol2 {
        width: 90px;
    }
    
}

@media all and (max-width: 450px) {

    .numberCol {
        width: 38px;
    }

    li {
        font-size: 15px;
    }

    .firstCol {
        width: 105px;
    }

    .lastCol2 {
        width: 87px;
    }
    
}