<div class="mainWrapper scoreWrapper" [style]="{height: (height - 70).toString() + 'px'}">
    <div class="innerWrapper scoreInner" [class]="{darkMode: darkMode}">
        <h1>Top 1000 Scoreboard</h1>
        <ul>
            <li class="scoreHeaderListing">
                <span class="numberCol">#</span>
                <span class="firstCol">User</span>
                <span class="secondCol">
                    <span class="lastCol1">Size</span>
                    <span class="lastCol2">Score</span>
                </span>
            </li>
            <li class="scoreListing" *ngFor="let score of scores; index as i">
                <span class="numberCol">{{(i + 1)}}.</span>
                <span class="firstCol"><span class="usernameHolder">{{score.username | usernameShortener}}</span></span>
                <span class="secondCol">
                    <span class="lastCol1">{{score.size}}x{{score.size}}</span>
                    <span class="lastCol2">{{score.score | bignumber}}</span>
                </span>
            </li>
        </ul>

        <h1 *ngIf="error" class="errorText"><fa-icon [icon]="faExclamationTriangle"></fa-icon> {{error}}</h1>

        <button (click)="loadScores()" *ngIf="!loading && !all && !error">Load more...</button>

        <div class="scoreLoaderWrapper" *ngIf="loading">
            <app-loader [color]="darkMode ? 'white' : 'black'"></app-loader>
        </div>

        <p *ngIf="!loading && all" class="bottomText">No more scores to load.</p>
    </div>
</div>