html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

button {
    border: none;
    color: white;
    font-weight: bold;
    background-color: #ff9900;
    text-align: center;
    outline: none;
    font-size: 25px;
    padding: 5px 0;
    width: 230px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.4s ease, color 0.4s ease;
}

button:hover, button:active {
    background-color: #ffb443;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgb(194, 185, 166);
    color: rgb(118, 118, 118);
}

.mainWrapper {
    width: 100%;
    overflow-y: auto;
}

.mainWrapper h1 {
    color: #ff9900;
    top: 25px;
    position: relative;
}

.innerWrapper {
    margin: auto;
    width: 80%;
}
