<div class="sideMenuWrapper">
    <app-backdrop (clickEmitter)="closeMenu()" *ngIf="enabled"></app-backdrop>
    <div class="sideMenu" 
    [@slideInOut] *ngIf="enabled" 
    [class]="{darkMode: darkMode}"
    [style]="{height: (height - 70).toString() + 'px'}">
        <ul class="outer">
            <div *ngIf="login">
                
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <li>Game</li>
                </a>
            </div>
            <div *ngIf="!login">
                <a routerLink="/auth" routerLinkActive="active">
                    <li>Authenticate</li>
                </a>
            </div>
            <a routerLink="/scoreboard" routerLinkActive="active">
                <li>Top 1000</li>
            </a>
            <div *ngIf="login">
                <li
                [class]="{active: settings}"
                (click)="toggleSubMenu()"
                >Account <fa-icon class="icon" [icon]="subMenu ? faChevronUp : faChevronDown"></fa-icon>
                </li>
                <ul *ngIf="subMenu" class="inner">
                    <a routerLink="/settings" routerLinkActive="active">
                        <li>User Settings</li>
                    </a>
                    <li (click)="logout()">Logout</li>
                    <li class="toggleListing">
                        Dark Mode <div style="float: right">
                            <app-toggle [enabled]="darkMode" (toggleEvent)="toggleDarkMode($event)"></app-toggle>
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>