div, ul, li, a {
    transition: background 0.4s ease, color 0.4s ease;
}

.sideMenuWrapper {
    top: 70px;
    position: absolute;
    display: none;
}

.sideMenu {
    z-index: 150;
    display: inline-block;
    position: fixed;
    background-color: rgb(243, 243, 243);
    width: 290px;
    overflow-y: auto;
}

.darkMode.sideMenu {
    background-color: rgb(79, 79, 79);
}

.icon {
    float: right;
}

ul {
    list-style: none;
}

ul.outer {
    display: block;
    margin: 0;
    padding: 0;
}

ul.inner {
    padding-left: 10px;
}

ul div {
    margin: 0;
}

li {
    margin: 0;
    padding: 12px 10px;
    font-size: 23px;
    font-weight: 500;
    box-sizing: border-box;
    cursor: pointer;
}

.darkMode li {
    color: rgb(218, 218, 218);
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

.darkMode li:hover {
    color: rgb(45, 45, 45);
}

a.active > li, li.active {
    color: #fff !important;
    background: #ff9900;
}


li:hover {
    background-color: #bbb;
}

.toggleListing {
    background-color: rgb(243, 243, 243) !important;
    cursor: default;
}

.darkMode .toggleListing {
    background-color: rgb(79, 79, 79) !important;
    color: rgb(218, 218, 218) !important;
}

::ng-deep .darkMode .toggleButton {
    background-color: #5e5e5e !important;
}

@media all and (max-width: 900px) {
    
    .sideMenuWrapper {
        display: inline-block;
    }
}